// Colors
$main-color: #4c9aed;
$body-bg: #f9fcff;
$section-bg: #2a2e31;
$green: #56cd82;
$red: #ef6960;
$alert: #faad14;

$header-height: 80px;

$sidebar-width: 300px;

// Sidebar and content Transition
$transition-sidebar: 350ms ease;

// scrollbar Bgs
$scrollbarBG: #e6edf5;
$thumbBG: #90a4ae;
